body {

    background-color: rgb(67, 185, 221);
    
}

/* **********************  AMPLIACION PARTE 1 ************************************************************* */

// a[target] {

//     background-color: rgb(248, 175, 175);
//     font-size: 1.4rem;
//     padding: 15px;
//     display: block;
//     width: 40%;
//     margin-top: 10px;
//     text-decoration: none;

// }

// a[target="_blank"] {

//     background-color: rgb(252, 190, 76);

// }

// .contGrid {

//     display: grid;
//     grid-template-columns: 60% 50%;
//     margin-top: 30px;
//     border: 1px solid black;
//     align-items: center;

//     *[alt~="k2"] {

//         margin-top: 10px;
//         border: 2px solid black;
//         border-radius: 4%;
//         width: 45%;

//     }

//     [class|=claseimagen] {

//         margin-top: 10px;
//         border: 2px solid black;
//         border-radius: 4%;
//         width: 45%;
//     }
// }
// .contenedorGrid {

//     display: grid;
//     grid-template-columns: 60% 50%;
//     margin-top: 30px;
//     border: 1px solid black;
//     align-items: center;

//     [class$="to1"] {

//         margin-top: 10px;
//         border: 2px solid black;
//         border-radius: 4%;
//         width: 45%;

//     }

//     [class*="prueba"] {

//         margin-top: 10px;
//         border: 2px solid black;
//         border-radius: 4%;
//         width: 45%;

//     }

// }

// .containGrid {

//     display: grid;
//     grid-template-columns: 50% 50%;
//     border: 2px solid black;
//     width: 100%;
//     height: 250px;
//     align-items: center;
//     justify-items: center;

//     .sinBoxSizing {

//         width: 300px;
//         height: 100px;
//         padding: 50px;
//         border: 1px solid red;
//     }
    
//     .conBoxSizing {
    
//         width: 380px;
//         height: 200px;
//         padding: 50px;
//         border: 1px solid red;
//         box-sizing: border-box;
//     }
// }

// input {

//     width: 100%;
//     margin-top: 10px;

// }

// input[type=text] {

//     width: 60%;
//     padding: 12px 20px;
//     margin: 8px 0; 
//     box-sizing: border-box;
//     border: 3px solid #ccc; 
//     -webkit-transition: 5s; 
//     -webkit-transition: width 2s ease-in-out; 
//     transition: width 2s ease-in-out; //Especifica una transición con inicio y final lento. Ver apartado dedicado a transition.

// }

// input[type=text]:focus { 

//     border: 3px solid #555;
//     width: 90%;
// }

// .busqueda {
//     box-sizing: border-box;
//     border: 2px solid #ccc;
//     border-radius: 8px;
//     font-size: 16px;
//     background-color: white;
//     background-image: url("../img/lupa.jpg");
//     background-position: 10px 10px;
//     background-repeat: no-repeat;
//     padding: 12px 20px 12px 40px;
//     -webkit-transition: width 2s ease-in-out;
//     transition: width 2s ease-in-out;
// }

// textarea { 
//     width: 100%; 
//     height: 150px; 
//     padding: 12px 20px; 
//     box-sizing: border-box; 
//     border: 2px solid #ccc; 
//     border-radius: 4px; 
//     background-color: #f8f8f8; 
//     font-size: 16px; 
//     resize: none; 
    
// }

// select { 
//     width: 50%; 
//     padding: 16px 20px; 
//     border: none; 
//     border-radius: 4px;
//     background-color: #f1f1f1; 
// }

/* **********************************  A PARTIR DE AQUI ES LA AMPLIACION PARTE 2 *******************************************

        EJEMPLO HOLY GRAIL FLEXIBLE EL PRIMERO EJEMPLO DEL MANUAL 

.gridContenedor {

    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-gap: 1rem;
    width: 100%;
    min-height: 500px;
    
    .cabecera, .pie {

        grid-column: 1 / 4;
        height: 80px;
        font-size: 1.4rem;
        font-weight: bold;
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barraIzquierda {

        grid-column: 1/2;
        min-height: 420px;
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .barraDerecha {

        grid-column: 3/4;
        min-height: 420px;
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .articulo {

        font-size: 1.8rem;
        font-weight: bold;
        min-height: 420px;
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */



/* EJEMPLO HOLY GRAIL RESPONSIVO EL SEGUNDO EJEMPLO DEL MANUAL  

.gridContenedor {

    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-gap: 1rem;
    width: 100%;

    .cabecera, .pie {
        grid-column: 1/4;
        font-size: 2rem;
        font-weight: bold;

    }
    aside, article {

        min-height: 250px;
        box-sizing: border-box;
        padding: 20px;
        font-size: 1.3rem;
        font-weight: bold;

    }

    @media all and(max-width:700px) {

        aside,article {

            grid-column: 1/4;
            min-height: 250px;
            box-sizing: border-box;
            padding: 20px;
            font-size: 1.3rem;
            font-weight: bold;

        }

    }
}
header, aside, article, footer {

    background: #eaeaea; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 25vh;
} */

/* **************  EJEMPLO HOLY GRAIL EL TERCER EJEMPLO DEL MANUAL 2 columnas flexibles con cabecera y pie ****************** 

.gridContenedor {

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10vh 73vh 10vh; //Medida relativa
    grid-gap: 0.5rem;

    >* {

        box-sizing: border-box;
    }

    .cabecera, .pie {

        grid-column: 1/3;
        text-align: center;
        background: #eaeaea; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        font-size: 1.8rem;
        font-weight: bold;

    }

    aside, main {

        background: #eaeaea; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        font-size: 1.4rem;
        font-weight: bold;

    }
} */

/* ************** CUARTO EJEMPLO DEL MANUAL 2 columnas flexibles con cabecera y pie *****************

.gridContenedor {

    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 10vh 65vh 10vh; 
    grid-gap: 1em;

    .cabecera, .pie {

        grid-column: 1 / span 5;
        
    }

    main {

        grid-column: 1 / span 3;

    }

    aside {

        grid-column: span 2;

    }

    @media (max-width: 700px) { 

        main, aside { 
            
            grid-column: 1 / span 5; 
        }
    }

}

header, main, aside, footer {
    
    background: #eaeaea; 
    display: flex; align-items: 
    center; justify-content: 
    center; 
} 
header, footer { 

    height: 10vh;
} */

/*  ULTIMO EJEMPLO DEL MANUAL CON UN DISEÑO MARCADO POR EL PROFESOR

    Cabecera y pie de ancho completo y un main de 3 columnas. Diseño Responsivo
    La cabecera tendra un nav de 3 items */


.ContainerGrid {

    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: 2px solid black;
    box-sizing: border-box;

    &__cabecera {

        grid-column: 1/4;
        border: 2px solid black;
        min-height: 50px;
        padding: 20px;

        &__menu {

            border: 2px solid purple;
            width: 90%;
            display: flex;
            justify-content: space-around;
            padding: 20px;


            > div {

                width: 200px;
                border: 2px solid yellow;
                text-align: center;
                padding: 10px;
                font-weight: bold;
                font-size: 1.4rem;

            }

        }

    }

    &__main {

        grid-column: 2/3;
        border: 2px solid blue;
        padding: 20px;
        min-height: 600px;
        text-align: justify;

        > h3 {

            text-align: center;
        }

    }

    &__aside1 {

        grid-column: 1/2;
        border: 2px solid green;
        min-height: 600px;

        > a {

            text-decoration: none;
            text-transform: capitalize;
            display: block;
            font-size: 1.2rem;
            text-align: center;
            padding: 20px;
            color: black;

        }

    }

    &__aside2 {

        grid-column: 3/4;
        border: 2px solid green;
        min-height: 600px;

        > a {

            text-decoration: none;
            text-transform: capitalize;
            display: block;
            font-size: 1.2rem;
            text-align: center;
            padding: 20px;
            color: black;

        }

    }

    &__pie {

        grid-column: 1/4;
        border: 2px solid red;
        min-height: 50px;
        text-align: center;
        padding: 10px;
        font-size: 2rem;
        font-weight: bold;

    }

}

@media (max-width: 800px) {

    .ContainerGrid {

        display: grid;
        grid-template-columns: 100%;
        border: 2px solid black;
        box-sizing: border-box;
    
        &__cabecera {
    
            grid-column: 1/4;
            border: 2px solid black;
            min-height: 50px;
            padding: 20px;
    
            &__menu {
    
                border: 2px solid purple;
                width: 90%;
                display: block;
                justify-content: space-around;
                padding: 20px;
    
    
                > div {
    
                    width: 200px;
                    border: 2px solid yellow;
                    text-align: center;
                    padding: 10px;
                    font-weight: bold;
                    font-size: 1.4rem;
    
                }
    
            }
    
        }
    
        &__main {
    
            grid-column: 1/4;
            border: 2px solid blue;
            padding: 20px;
            min-height: 600px;
            text-align: justify;
    
            > h3 {
    
                text-align: center;
            }
    
        }
    
        &__aside1 {
    
            grid-column: 1/4;
            border: 2px solid green;
            min-height: 600px;
    
            > a {
    
                text-decoration: none;
                text-transform: capitalize;
                display: block;
                font-size: 1.2rem;
                text-align: center;
                padding: 20px;
                color: black;
    
            }
    
        }
    
        &__aside2 {
    
            grid-column: 1/4;
            border: 2px solid green;
            min-height: 600px;
    
            > a {
    
                text-decoration: none;
                text-transform: capitalize;
                display: block;
                font-size: 1.2rem;
                text-align: center;
                padding: 20px;
                color: black;
    
            }
    
        }
    
        &__pie {
    
            grid-column: 1/4;
            border: 2px solid red;
            min-height: 50px;
            text-align: center;
            padding: 10px;
            font-size: 2rem;
            font-weight: bold;
    
        }
    
    }    

}